@import 'settings';
@import '_backline-mixins';

.TillCompare {
  display: flex;
}

.Till {
  width: 100%;
  border-radius: $radius-large;
  padding: spacing(1) spacing(1) spacing(3);
  margin-bottom: spacing(3);
  background-color: $color-primary-grey-lighter;
  min-height: 500px;
  transition: $easing-standard 0.15s;
  box-shadow: 0px 0px 6px -1px rgba(0, 0, 0, 0.16);

  &:first-child {
    margin-right: spacing(1);
  }

  &:hover {
    transition: $easing-standard 0.25s;
    box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.16);
    transform: scale(1.005);
  }
}

.SwipeStationTill {
  background-color: $color-primary-yellow;
  color: $color-primary-white;

  .PersonIcon,
  .GlassIcon {
    svg,
    path {
      fill: $color-primary-white;
    }
    transition: $easing-standard 0.25s;

    &:hover {
      transform: scale(1.1);
      transition: $easing-standard 0.25s;
    }
  }
}

.TillTitle {
  margin-bottom: spacing(2);
}

.PintCount {
  font-size: spacing(2);
}

.Person {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: spacing(2);
}

.PersonLabel {
  text-align: center;
}

.PersonIcon {
  margin-bottom: spacing(1);
}

.Server {
  display: flex;
  align-items: center;
}

.GlassIcon {
  display: block;
  margin: 0 spacing(0.15) spacing(0.05);
}

.PintsWrapper {
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;
}

.PersonIcon,
.GlassIcon {
  transition: $easing-standard 0.25s;

  &:hover {
    transform: scale(1.1);
    transition: $easing-standard 0.25s;
  }
}

@include mq($breakpoint-mobile-large) {
  .Till {
    min-height: 400px;
  }
}

@include mq($breakpoint-mobileLandscape) {
  .Till {
    padding: spacing(2) spacing(2) spacing(2);
    &:first-child {
      margin-right: spacing(2);
    }
  }
  .GlassIcon {
    width: 12px !important;
    height: 23px !important;
  }

  .Person {
    margin-bottom: spacing(1);
  }

  .PersonIcon {
    width: 50px !important;
    height: 50px !important;
  }

  .PersonLabel {
    font-size: spacing(2);
  }

  .PintCount {
    font-size: spacing(3);
  }
}

@include mq($breakpoint-tablet) {
  .TillCompare {
    display: flex;
  }

  .Till {
    &:first-child {
      margin-right: spacing(2);
    }
    min-height: 550px;
  }

  .Server {
    padding: spacing(2) 0;
  }

  .PersonIcon {
    width: 60px !important;
    height: 60px !important;
  }

  .PersonLabel {
    font-size: spacing(2.5);
  }

  .PintCount {
    font-size: spacing(3.5);
  }

  .GlassIcon {
    width: 14px !important;
    height: 28px !important;
  }
}

@include mq($breakpoint-desktop) {
  .Till {
    padding: spacing(3);
    &:first-child {
      margin-right: spacing(3);
    }
    min-height: 600px;
  }

  .PersonIcon {
    width: 70px !important;
    height: 70px !important;
  }

  .GlassIcon {
    width: 16px !important;
    height: 32px !important;
  }
}

@include mq($breakpoint-desktopLarge) {
  .Till {
    padding: spacing(5);
    &:first-child {
      margin-right: spacing(5);
    }
  }
}

@include mq($breakpoint-mobileLandscape) {
  .Pint {
    opacity: 0;
    transform: translateY(20px) scale(0.5);
  }

  .animatePint {
    animation-name: entrance;
    animation-duration: 250ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    will-change: opacity, transform;
  }
}

@keyframes entrance {
  0% {
    opacity: 0;
    transform: translateY(20px) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
}
