@import 'settings';
@import '_backline-mixins';

.FAQWrapper {
  padding-top: spacing(2);
  padding-bottom: spacing(2);
}

@include mq($breakpoint-tablet) {
  .Description {
    max-width: 60%;
  }
}
