@import 'settings';
@import '_backline-mixins';

.Feature {
  display: flex;
  flex-direction: column-reverse;
}

.ImageWrapper {
  width: 70%;
  margin: 0 auto spacing(3);

  transition: $easing-standard 0.25s;
  &:hover {
    transition: $easing-standard 0.25s;
    transform: scale(1.01);
  }
}

.Title {
  padding-bottom: spacing(1);
}

@include mq($breakpoint-tablet) {
  .Feature {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  .ImageWrapper {
    flex: 1 0 40%;
    max-width: 700px;
    // max-height: 600px;
    margin: 0 spacing(10) 0 0;
  }

  .Content {
    max-width: 800px;
    flex: 1 0 40%;
  }

  .reverse {
    .ImageWrapper {
      order: 1;
      margin: 0 0 0 spacing(10);
    }
  }
}

@include mq($breakpoint-tabletLandscape) {
  .ImageWrapper {
    margin: 0 spacing(15) 0 0;
  }

  .reverse {
    .ImageWrapper {
      margin: 0 0 0 spacing(15);
    }
  }
}
