@import 'settings';
@import '_backline-mixins';

.Description {
  margin-bottom: spacing(4);
}

@include mq($breakpoint-tablet) {
  .Description {
    max-width: 60%;
  }
}

.SponsorCarousel {
  margin: spacing(4) 0 spacing(6);
}

.SponsorsWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: spacing(4);
  text-align: center;
  margin: spacing(0) 0 spacing(4);
}

.Sponsor {
  max-width: 150px;
  text-align: center;
  display: block;
  margin: auto;
  height: 100%;
  width: 100%;
  transition: $easing-standard 0.25s;

  &:hover {
    transform: scale(1.01);
    transition: $easing-standard 0.25s;
  }
}

@include mq($breakpoint-tablet) {
}

@include mq($breakpoint-mobileLandscape) {
  .SponsorsWrapper {
    grid-template-columns: repeat(4, 1fr);
    margin: spacing(6) 0 spacing(4);
  }
}

@include mq($breakpoint-tablet) {
  .Description {
    margin-bottom: spacing(6);
  }

  .SponsorsWrapper {
    grid-template-columns: repeat(6, 1fr);
    margin: spacing(8) 0 spacing(0);
  }
  .SponsorCarousel {
    margin: spacing(4) 0 spacing(2);
  }
}

@include mq($breakpoint-desktop) {
  .Description {
    margin-bottom: spacing(12);
  }
  .SponsorsWrapper {
    margin: spacing(8) 0 spacing(8);
  }
}
