@import 'settings';
@import '_backline-mixins';

.WhitepaperDownload {
  background-color: $color-primary-grey;
  color: $color-primary-white;
  padding: spacing(8) 0;
  border-bottom: spacing(1) solid $color-primary-yellow;

  h3 {
    display: inline-block;
    margin-bottom: spacing(1);
  }
}

.Title {
  margin-right: spacing(4);
  margin-bottom: spacing(2);
  flex: 1 1 50%;
}

.WhitepaperDownload form {
  max-width: 60em;
  margin-top: spacing(3);

  button {
    color: $color-primary-white;
    font-family: $font-heading;
    font-size: 1.5em;
    line-height: 1;
    min-width: 250px;
    height: 2.5em;
    margin: auto 0;
  }

  .Input {
    color: $color-primary-white;
    margin-bottom: spacing(1);
  }
}

.Field {
  display: flex;
  flex-direction: column;
  
  input {
    margin-right: spacing(2);
    color: $color-primary-black;
    height: 3.8em;
    margin-bottom: spacing(1);
  }

  @include mq($breakpoint-tablet) {
    margin-bottom: 0;
    flex-direction: row;
    align-items: center;

    input {
      margin-bottom: 0;
    }
  }
}

.Complete {
  display: flex;
  align-items: center;
  animation: slideIn 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  color: $color-status-success;
  font-size: 24px;

  span {
    display: block;
    margin-right: spacing(1);
  }

  svg {
    display: block;
    fill: $color-status-success;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-150%);
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  100% {
    transform: translateX(0);
  }
}