@import 'settings';
@import '_backline-mixins';

.WhitepaperDownload {
  background-color: $color-primary-grey;
  color: $color-primary-white;
  padding: spacing(8) 0;

  border-bottom: spacing(1) solid $color-primary-yellow;

  h3 {
    display: inline-block;
    margin-bottom: spacing(1);
    // border-bottom: spacing(1) solid $color-primary-yellow;
  }

  form {
    display: flex;
    flex-direction: column;

    & > input {
      margin-bottom: spacing(1);
    }

    @include mq($breakpoint-tablet) {
      flex-direction: row;
      & > input {
        margin-bottom: 0;
      }
    }
  }

  @include mq($breakpoint-tabletLandscape) {
    padding: spacing(10) 0;
    h3 {
      margin-bottom: spacing(2);
    }
  }
}

.Download {
  display: flex;
  flex-direction: column;

  @include mq($breakpoint-tabletLandscape) {
    flex-direction: row;
  }
}

.Title {
  margin-right: spacing(4);
  margin-bottom: spacing(2);
  flex: 1 1 50%;
}

.WhitepaperDownload form {
  display: flex;
  flex: 1 1 50%;

  button {
    color: $color-primary-white;
    font-family: $font-heading;
    font-size: 1.5em;
    line-height: 1;
  }

  input {
    height: 3.6em;
    margin-right: spacing(1);
    color: $color-primary-black;
    background-color: $color-primary-white;
  }

  @include mq($breakpoint-tablet) {
    input {
      height: 4.2em;
    }
  }
  @include mq($breakpoint-tabletLandscape) {
    margin-top: spacing(2);

    button {
      margin: auto;
    }

    input {
      height: 4.2em;
      margin: auto spacing(1) auto;
    }
  }
}

.Complete {
  flex: 1 1 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  svg {
    fill: $color-primary-white;
    animation: slideIn 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-150%);
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  100% {
    transform: translateX(0);
  }
}
