@import 'settings';
@import '_backline-mixins';

.Wrapper {
  position: relative;
}

.Footer {
  padding-top: spacing(4);
  position: relative;
  display: flex;
  align-content: center;
  overflow: hidden;
  color: $color-primary-white;
  transition: $duration-shortest;
  a:hover {
    color: $color-primary-yellow;
    transition: $duration-shortest;
  }
}

.FooterOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color-primary-grey;
  z-index: -1;
}

.Container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 0;
}

.Branding {
  flex: 1 0 150px;
  max-width: 300px;
  margin-right: spacing(8);
  transition: $duration-short $easing-standard;

  &:hover {
    transform: scale(1.02);
    transition: $duration-short $easing-standard;
  }
}

.Social {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: spacing(4) 0 spacing(4);

  a,
  button {
    padding-right: spacing(2);
    vertical-align: super;
    &:hover,
    &:focus {
      transform: scale(1.01);
      transition: $easing-standard $duration-short;

      & > svg,
      path {
        fill: $color-primary-yellow;
      }
    }
  }
}

.LinkListWrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-width: 800px;
}

.LinkList {
  display: flex;
  flex-direction: column;
  padding: 0 0 spacing(4) 0;

  a {
    text-decoration: none;
    color: $color-primary-white;
    padding-bottom: spacing(2);

    &:focus {
      color: $color-primary-yellow;
    }
  }

  &::after {
    content: '_';
    color: inherit;
  }
}

.TrustPilotWrapper {
  padding-bottom: spacing(2);
}

.TrustPilot {
  display: block;
  max-width: 200px;
  margin: auto;
  transition: $duration-short $easing-standard;

  &:hover {
    transform: scale(1.05);
    transition: $duration-short $easing-standard;
  }
}

.Awards {
  display: flex;
  padding-bottom: spacing(2);
}

.Award {
  flex: 1 1 120px;
  margin-right: spacing(1);
  transition: $duration-short $easing-standard;

  &:hover {
    transform: scale(1.05);
    transition: $duration-short $easing-standard;
  }
}

.Copyright {
  text-align: center;
  color: $color-primary-white;
  padding-bottom: spacing(1);
}

.disableOverlay {
  .ContactOverlay {
    display: none;
  }
}

@include mq($breakpoint-mobileLandscape) {
  .TrustPilotWrapper {
    margin-bottom: spacing(6);
  }

  .TrustPilot {
    margin: 0 0 0 auto;
  }
}

@include mq($breakpoint-tablet) {
  .Footer {
    padding-top: spacing(12);
  }

  .Wrapper {
    pointer-events: none;
  }

  .FooterOverlay {
    clip-path: polygon(0% 15%, 60% 15%, 100% 0, 100% 100%, 0 100%);
    background-color: $color-primary-yellow;
    &:before {
      content: '';
      clip-path: polygon(0% 15%, 60% 15%, 100% 0, 100% 100%, 0 100%);
      position: absolute;
      top: spacing(3);
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $color-primary-grey;
    }
  }

  .Container {
    margin-top: spacing(4);
  }

  .LinkListWrapper {
    flex: 1 1 60%;
    flex-direction: row;
  }

  .LinkList::after {
    content: none;
  }

  .Social {
    padding: spacing(4) 0 0;
  }

  .Award {
    margin-right: spacing(2);
  }

  .ContactOverlay {
    position: absolute;
    width: 100%;
    height: 120%;
    left: 0;
    top: -85%;
    background-color: $color-primary-grey-lighter;
    z-index: -1;
  }

  .Social,
  .Branding,
  .LinkListWrapper,
  .TrustPilotWrapper,
  .Awards {
    pointer-events: all;
  }
}

@include mq($breakpoint-tabletLandscape) {
  .ContactOverlay {
    top: -90%;
  }
}

@include mq($breakpoint-desktop) {
  .Container {
    margin-top: spacing(8);
  }
}

@include mq($breakpoint-desktopMedium) {
  .ContactOverlay {
    top: -95%;
    height: 130%;
  }
}
