@import 'settings';
@import '_backline-mixins';

.Grid {
  display: block;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  width: 100%;
  margin: spacing(2) 0 spacing(2) 0;
  grid-gap: spacing(1);

  & > div {
    margin-bottom: spacing(1);
  }

  @include mq($breakpoint-mobileLandscape) {
    display: grid;

    & > div {
      margin-bottom: auto;
    }
  }
}
