@import 'settings';
@import '_backline-mixins';

.Block {
  padding-bottom: 0;
  margin-bottom: spacing(4);
}

.Title {
  margin-bottom: spacing(1);
}

@include mq($breakpoint-tablet) {
  .Title {
    margin-bottom: spacing(2);
  }
}
