@import 'settings';
@import '_backline-mixins';

.Description {
  margin-bottom: spacing(1);
}

.FeatureWrapper {
  margin: spacing(5) 0 spacing(6);

  &.last {
    margin-bottom: spacing(8);
  }

  &.first {
    margin-top: 0;
  }
}

.LearnMoreWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: spacing(4);
}

.LearnMoreText {
  margin-bottom: spacing(2);
}

@include mq($breakpoint-tablet) {
  .FeatureWrapper {
    margin: spacing(15) 0;
  }

  .LearnMoreWrapper {
    margin-bottom: spacing(8);
  }
}
