@import 'settings';
@import '_backline-mixins';

.Wrapper {
  overflow: hidden;
}

.Content {
  scroll-snap-type: y mandatory;
  margin-top: 57px;
}

.FooterWrapper {
  box-sizing: border-box;
  max-width: 960px;
  padding: spacing(1);
  margin: 0 auto;

  @include mq($breakpoint-mobileLandscape) {
    padding: spacing(2);
  }
}

.SiteInfo {
  text-align: center;
  & a {
    color: inherit;
  }
}
